# Default owners for everything in this repo.
# Lines later in this file override earlier ones.
# See: https://docs.github.com/en/repositories/managing-your-repositories-settings-and-features/customizing-your-repository/about-code-owners

* @allors/maintainers
